*{
    margin: 0px;
}
body{
    background-color: #2a9d8f;
    overflow-y:hidden;
}
#startPage{
    display: show;
    font-size: 50px;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128,128,128,0.7);
    background-image: url(ezgif.com-resize.gif);
    background-repeat: no-repeat;
    background-size:100% 100%;
    z-index: 1;
    color: aliceblue;
}
#containerStartPage{
    position: relative;
    top:50%;
    bottom:50%;
}
#card{
    margin-bottom: 10px;
    border-radius: 7ch;
}
#card:hover{
    background-color: #f4a261;
    cursor: pointer;
}
#list-cards{
    /* width:50%; */
}
.starter{
    display: flex;
}
#container{
    border-radius: 10ch;
    background-color: #e9c46a;
    position: relative;
    top:8%;
}
#aside{
    width:45%;
    position:fixed;
    left: 55%;
    background-color: #264653;
    height: 100%;
}
#section{
    background-color: #f4a261;
    border-radius: 2cm;
}
#pokeStats-top{
    background-color: #e76f51;
    border-radius: 1ch;
}
#pokeStats-bot{
    background-color: grey;
    border-radius: 1ch;
}
#addToParty, #deleteFromParty, #fightingScene{
    border-radius: 1ch;
    position: relative;
    text-align: center;
}
@media screen and (max-width:575px) {
    img#pokeBall-logo.col-sm-2{
        display: none;
    }
}