*{
    margin: 0px;
}
body{
    background-color: #2a9d8f;
    overflow-y:hidden;
}
#startPage{
    display: show;
    font-size: 50px;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128,128,128,0.7);
    background-image: url(ezgif.com-resize.gif);
    background-repeat: no-repeat;
    background-size:100% 100%;
    z-index: 1;
    color: aliceblue;
}
#containerStartPage{
    position: relative;
    top:50%;
    bottom:50%;
}
#card{
    margin-bottom: 10px;
    border-radius: 7ch;
}
#card:hover{
    background-color: #f4a261;
    cursor: pointer;
}
#list-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starter{
    display: flex;
}
#container{
    border-radius: 10ch;
    background-color: #e9c46a;
    top:8%;
}
#aside{
    width:45%;
    position:fixed;
    left: 55%;
    background-color: #264653;
    height: 100%;
}
#section{
    background-color: #f4a261;
    border-radius: 2cm;
}
#pokeStats-top{
    background-color: #e76f51;
    border-radius: 1ch;
}
#pokeStats-bot{
    background-color: grey;
    border-radius: 1ch;
}
#addToParty, #deleteFromParty, #fightingScene{
    border-radius: 1ch;
    position: relative;
    text-align: center;
}
#footer{
    text-align: center;
    margin: 10%;
    border-radius: 1cm;
}
.swal-overlay{
    background-color:rgba(38, 70, 83,0.45);
}
@media screen and (min-width:1920px) {
    img#pokeSprite{
        height: 14vw !important;
    }
    #footer{
        margin:0;
    }
    img#firstQueue{
        height: 7vw !important;
    }
    /* #aside, #pokeStats-bot,.row,button#addToParty,button#deleteFromParty,button#fightingScene,div#footer,div#rowQueue.row.p-2,img#firstQueue.col-sm-3{
        resize: none;
        width: 829.792px;
        height: 842.438px;
    }
    #pokeBall-logo, #logo-sprite{
        resize: none;
        width: 115.625px;
        height: 115.625px;
    }
    #pokeName{
        resize: none;
        width:325.062px;
        height:41.583px;
    }
    #idPoke{
        resize: none;
        width:185.438px;
        height: 41.583px;
    }
    #pokemon-topbar{
        resize: none;
        width: 813.792px;
        height:115.625px;
    }
    #section{
        resize: none;
        width:829.792px;
        height:131.625px;
    }
    #leftSide{
        resize: none;
        width:837.792px;
        height:115.625px;
    }
    div.row.align-items-center{
        resize: none;
        width:853.792px;
        height:384px;
    }
    img#pokeSprite{
        resize: none;
        width:545.188px;
        height:384px;
    }
    div#pokeStats-top{
        resize: none;
        width:829.792px;
        height:124.750px;
    }
    div.row.align-items-center.text-center{
        resize: none;
        width:853.792px;
        height: 41.583px;
    }
    div#heightStat, div#weightStat, div#typeState, div#hpStat, div#attackStat, div#defenseStat{
        resize: none;
        width:331.729px;
        height:41.583px;
    }
    div#resultHeight, div#resultWeight, div#resultType, div#resultHp, div#resultAttack, div#resultDefense{
        resize: none;
        width:474.042px;
        height: 41.583px;
    }
    div#pokeStats-bot{
        resize: none;
        width: 829.792px;
        height:124.750px;
    }
    .row{
        resize: none;
        width: 853.792px;
        height:38.667px;
    }
    button#addToParty, button#deleteFromParty{
        resize: none;
        width: 257.916px;
        height:24px;
    }
    button#fightingScene{
        resize: none;
        width: 400.229px;
        height:24px;
    } */
}
@media screen and (max-width:1920px) {
    /* #container{
        width: 829.792px;
        height:842.458px;
    } */
    img#pokeSprite{
        height: 20vw !important;
    }
    #footer{
        margin:0;
    }
    img#firstQueue{
        height: 7vw;
    }
}
@media screen and (max-width:860px) {
    h3#idNum, img#pokeBall-logo.col-sm-2{
        display: none;
    }
}
@media screen and (max-width:575px) {
    img#pokeSprite{
        display: none;
    }
    img#firstQueue{
        height: 20vw;
    }
}
@media screen and (max-width:414px){
    div#card{
        display: inline-block !important;
    }
    h5#idPoke, h5#pokeName{
        font-size: 12px;
        text-align: center;
    }
    img#poke-sprite{
        margin-left:0px;
        align-items: center;
        justify-content: center;
    }
    h3#queueList{
        font-size: 12px;
    }
}
